* {
  box-sizing: border-box;
}

body {
  background: #7F8C8D;
}

.container {
  width: 500px;
  background: #ECF0F1;
  margin: auto;
  position: relative;
}

header {
  height: 200px;
  background: #2ECC71;
  border-bottom: 5px solid #27AE60;
  margin-top: 20px;
}

header h1 {
  color: #fff;
  font-size: 1.8rem;
  padding: 150px 0 0 10px;
  margin: 0;
}

nav {
  height: 35px;
  background: #34495E;
  border-bottom: 5px solid #2C3E50;
}

.main-nav {
  color: #fff;
  margin: 0;
}

.main-nav li {
  display: inline-block;
  line-height: 35px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  font-size: .8rem;
}

.sidebar {
  background: #ECF0F1;
  border-bottom: 3px solid #444444;
  width: 170px;
  height: 200px;
  position: absolute;
  top: 235px;
  left: 510px;
}

.sidebar-list {
  font-weight: bold;
  padding: 15px 0 0 10px;
  margin: 0;
  font-size: .8rem;
}

.sidebar-list li {
  list-style: none;
  font-weight: normal;
  color: #6E6666;
  margin: 5px 5px;
}

article {
  margin: 30px 20px;
}

.article-title {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*.main-content {
  padding: 0 40px 30px 40px;
}*/

section {
  padding: 15px 0;
}

section p {
  font-size: .75rem;
  line-height: 1.2rem;
  padding: 0 20px 15px 20px;
  margin: 0;
}

.inline-link {
  color: #D35400;
  text-decoration: none;
}
.section-title {
  font-size: 1rem;
  border-bottom: 1px solid #7F8C8D;
  padding: 5px;
  margin: 0;
}

table {
  margin-bottom: 20px;
}

.languages {
  border: 1px solid #7F8C8D;
}

.languages td {
  font-size: .75rem;
  border: 1px solid #7F8C8D;
  padding: 7px;
}

.table-header td {
  background: #BDC3C7;
  font-weight: bold;
  padding: 7px;
}

.table-button {
  text-decoration: none;
  background: #3498DB;
  color: #fff;
  padding: 5px 15px;
  border-radius: 1px;
  margin: auto;
}

.code-box {
  background: #BDC3C7;
  margin-bottom: 15px;
}

.code-box p {
  font: .75rem "courier new";
  padding-top: 20px;
  padding-left: 30px;
}

.ordered-list {
  font-size: .8rem;
  line-height: 1.2rem;
}

.ordered-list li {
  margin-bottom: 10px;
}

.gray-text {
  color: #969696;
  font-size: .75rem;
  margin: 0;
}

.comments {
  margin-top: 40px;
}

.comment-info {
  border: none;
  border-top: 1px solid #c0c0c0;
}

.comment-info legend {
  padding: 15px 8px;
  font-size: .75rem;
  color: #969696;
}

.comment-info p {
  font-size: .75rem;
}
